{{ ansible_managed | comment }}
# pg_back configuration file
{% if pg_back_global_settings is defined %}
{{ pg_back_global_settings }}
{% endif %}

# # Per database options. Use a ini section named the same as the
# # database. These options take precedence over the global values
{% if pg_back_per_db_settings is defined %}
{% for db_config in pg_back_per_db_settings%}
[{{ db_config.name }}]
{{ db_config.settings }}
{% endfor %}
{% endif %}
