{% extends "Dockerfile_common.j2" %}

{% block distrib_conf %}
  {% set major_version = item.image.split(':')[1].split('.')[0] %}
  {% set pgdg_package = 'https://download.postgresql.org/pub/repos/yum/reporpms/EL-{}-x86_64/pgdg-redhat-repo-latest.noarch.rpm'.format(major_version) %}
  RUN dnf -qy module disable postgresql && dnf clean all
  RUN dnf -y makecache && dnf --assumeyes install /usr/bin/python3 \
    /usr/bin/python3-config /usr/bin/dnf-3 sudo bash iproute \
    rsync systemd systemd-sysv epel-release 'dnf-command(config-manager)' {{ pgdg_package }} \
    https://yum.dalibo.org/labs/dalibo-labs-4-1.noarch.rpm &&\
    dnf -y config-manager --set-enabled {{ 'powertools' if major_version == '8' else 'crb' }} &&\
    dnf clean all
{% endblock %}
