{% extends "Dockerfile_common.j2" %}

{% block distrib_conf %}
  RUN export DEBIAN_FRONTEND=noninteractive && apt-get update && \
          apt-get install -y gnupg python3 sudo bash ca-certificates curl \
          iproute2 python3-apt aptitude rsync systemd systemd-sysv && \
          apt-get clean && rm -rf /var/lib/apt/lists/*
  RUN install -d /usr/share/postgresql-common/pgdg
  RUN curl -o /usr/share/postgresql-common/pgdg/apt.postgresql.org.asc --fail https://www.postgresql.org/media/keys/ACCC4CF8.asc
  RUN echo "deb [signed-by=/usr/share/postgresql-common/pgdg/apt.postgresql.org.asc] https://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list
  RUN curl -o /etc/apt/trusted.gpg.d/dalibo-labs.gpg https://apt.dalibo.org/labs/debian-dalibo.gpg
  RUN echo "deb [signed-by=/etc/apt/trusted.gpg.d/dalibo-labs.gpg] http://apt.dalibo.org/labs $(lsb_release -cs 2>/dev/null)-dalibo main" > /etc/apt/sources.list.d/dalibo.list
{% endblock %}
